{% extends 'userena/base.html' %}
{% load i18n %}

{% block userena_title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile{% endblocktrans %}{% endblock %}
{% block userena_content_title %}{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}{% endblock %}
{% block userena_content %}
	<div id="profile_detail">
		<img src="{{ profile.get_mugshot_url }}" alt="{{ profile.user.username }}" />
		{% if profile.user.get_full_name %}
			<p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
		{% endif %}
		{% if profile.user.email %}
			<p><strong>{% trans "Email" %}</strong><br />{{ profile.user.email }}</p>
		{% endif %}
	</div>
{% endblock %}
